@model FiveMinute.ViewModels.AccountViewModels.UserDetailViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

<h1>Данные о пользователе @Model.UserName</h1>
<p>Пользовательское имя: @Model.UserName</p>
<p>Почта: @Model.Email</p>

