html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.popup {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px;
	color: #fff;
	border-radius: 4px;
	font-size: 14px;
	z-index: 1000;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Admin Debug Dropdown Styling */
.admin-debug-dropdown {
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 1000;
}

.admin-debug-dropdown .dropdown-toggle {
	cursor: pointer;
}

.admin-debug-dropdown .dropdown-menu {
	display: none;
	position: absolute;
	bottom: 40px;
	left: 0;
	background-color: #343a40;
	border-radius: 4px;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	color: white;
}

.admin-debug-dropdown .dropdown-item {
	display: block;
	color: white;
	padding: 5px;
	text-decoration: none;
}

.admin-debug-dropdown .dropdown-item:hover {
	background-color: #495057;
}


/* Lighter Colors for Cards */
.bg-light-blue {
	background-color: #ccd4e0; 
}

/* Lighter Colors for Cards */
.card.light-green {
	background-color: #8fd19e; /* Light Green */
}

.card.light-yellow {
	background-color: #f6e29c; /* Light Yellow */
}

.card.light-red {
	background-color: #f8b0b0; /* Light Red */
}


.full-width-wrapper {
	width: 100vw; /* Full viewport width */
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

