@{
    ViewData["Title"] = "Тест";
}

<div class="text-center">
    <h1 class="display-4">Profile</h1>
    <a class="btn btn-outline-secondary"  asp-controller="AppointedFiveMinuteTemplate" asp-action="TestPassing">Прохождение теста</a>
</div>
