@{
    //ViewData["Title"] = "Home Page";
}


<l1 class="nav-item">
	<a class="btn" asp-area="" asp-controller="FiveMinuteTemplate" asp-action="Edit">Создать пятиминутку</a>
</l1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="AppointedFiveMinuteTemplate" asp-action="AllTests">Все тесты</a>

    Пятиминт

</div>
