@using FiveMinutes.Data
@{
    //ViewData["Title"] = "Home Page";
}

@if ((User.IsInRole(UserRoles.Teacher)||User.IsInRole(UserRoles.Admin)))
{
    <l1 class="nav-item">
        <a class="btn" asp-area="" asp-controller="FiveMinuteTemplate" asp-action="Create">Создать пятиминутку</a>
    </l1>
}
<div class="text-center">
    <h1 class="display-4">FIVE MINUTE GREAT WEBSITE</h1>
    <a asp-controller="AppointedFiveMinuteTemplate" asp-action="AllTests">Все тесты</a>

    Пятиминт

</div>
