@{
    ViewData["Title"] = "Шаблоны тестов";
}

<div class="text-center">
    <h3 class="display-4">Из БДшки показываем все шаблоны тестов. При выборе какого-то можно перейти в создание. Пока что по кнопке ниже</h3>
    <a class="btn btn-outline-secondary"  asp-controller="FiveMinuteTemplate" asp-action="TestCreation">Создание теста</a>
</div>
