@model FiveMinuteTemplate

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Редактор пятиминутки</h1>

<p>Название пятиминутки: @Model.Name</p>
<p>Айди: @Model.Id</p>


