@{
    ViewData["Title"] = "Создание теста";
}

<div class="text-center">
    <h3 class="display-4">*Как-то создаём тест*</h3>
    <a class="btn btn-outline-secondary"  asp-controller="FiveMinuteTemplate" asp-action="FiveMinuteFolder">Папка со всеми пятиминутками</a>
</div>
