@{
    ViewData["Title"] = "Создание пятиминутки";
}

<div class="text-center">
    <h1 class="display-4">Profile</h1>
    <a class="btn btn-outline-secondary" asp-controller="FiveMinutes" asp-action="TestCreation">Создание теста</a>
    <a class="btn btn-outline-secondary" asp-controller="FiveMinutes" asp-action="AllFiveMinutesTemplates">Все шаблоны пятиминуток</a>
</div>
